/* Colors basic */

$basic-white: #ffffff;

/* Colors background */

$page-content-background: #fbfbfb;

/* Colors text */

$main-color: #be1622;

/* Colors icon */

$icon-logo: #0000ff;

/* Colors other element */

$font-family-main: Tahome, Arial, sans-serif;

/* Font-size */

/* Other elements properties */

/* Size of display */

$tabled-width: 768px;
$desktop-width: 1440px;
